.box {
  background-color: #e3e3e1;
  text-align: center;
  border-radius: 20%;
  padding: 3vh 2vh;
  width: 98%;
  margin: 0rem 0rem 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 2.5vh;
  width: 70%;
  margin: 1rem auto;
}

.heading {
  font-family: "Overpass", sans-serif;
  font-size: 2.75vh;
}
