@import "_boxes.scss";
@import "_variables.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ada2a1;
}

#header {
  background-color: #968887;
  margin: auto;
  word-spacing: 1rem;
}

#header ul {
  text-align: center;
  list-style: none;
  padding: 1.25rem;
  font-size: 3rem;
  text-shadow: -0.125rem 0.25rem 0 #74736e;
}

#header li {
  display: inline;
}

.container {
  margin: auto;
  width: 42%;
  padding: 4vh;
  color: color(box-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.welcome {
  font-family: "Source Sans Pro", sans-serif;
  color: color(heade);
  text-align: center;
  font-size: 2rem;
}

.myBtn {
  background-color: color(primary-dark);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3vh;
  cursor: pointer;
  border: color(text-shado);
  border-radius: 2vh;
}

.myBtn:hover {
  background-color: color(primary);
}

img {
  justify-content: center;
  width: 60%;
}
