@import "_boxes.scss";
@import "_variables.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(primary);
}

#header {
  background-color: color(primary-dark);
  margin: auto;
  word-spacing: 15px;
}

#header ul {
  text-align: center;
  list-style: none;
  padding: 20px;
  font-size: 50px;
  text-shadow: -2px 4px 0 color(text-shado);
}

#header li {
  display: inline;
}

.container {
  margin: auto;
  width: 42%;
  padding: 4vh;
  color: color(box-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.welcome {
  font-family: "Source Sans Pro", sans-serif;
  color: color(heade);
  text-align: center;
  font-size: 2rem;
}

.myBtn {
  background-color: color(primary-dark);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3vh;
  cursor: pointer;
  border: color(text-shado);
  border-radius: 2vh;
}

.myBtn:hover {
  background-color: color(primary);
}

img {
  justify-content: center;
  width: 60%;
}
